.vscode/
.DS_Store
.idea

**/.claude/settings.local.json

**/node_modules
**/frontend/node_modules
**/frontend/dist
**/frontend/wailsjs
**package-lock.json
internal/gui/frontend/.npmrc

scripts/*
internal/gui/frontend/public/
internal/gui/frontend/.vite/*

internal/gui/frontend/src/wasm/Cargo.lock
internal/gui/frontend/src/wasm/target/*
internal/gui/frontend/src/wasm/pkg/*
# Generated WebAssembly files
/internal/gui/frontend/src/wasm-generated/

# WebRPC generated TypeScript files
internal/gui/frontend/src/api/generated/*.gen.ts 

dist/
anki/
anki-addon/meta.json
anki-addon/__pycache__/**
anki-addon/user_files/binaries/**

archive/**
archive
main
mainbk
build/bin
langkit-cli

